.sectionE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/portada2.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0px;
  }
  .sectionE h2 {
    color: #fafafa;
    margin-top: 200px;
    align-items: end;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  .sectionE button {
    color: #000000;
    background-color: #fafafa;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.7rem;
    font-family: "Roboto", sans-serif;
    border: none;
    margin-bottom: 20px;
  }

  .sectionE button:hover {
    background: #616060;
  }

  .sectionE a {
    text-decoration: none;
  }