.contenedor{
    display: flex;
    align-items: end;
    margin-right: 15px;
}

.numerito{
    font-size: 17px;
    margin: 0px;
    padding: 0px;
}

.carrito{
    font-size: 25px;
    color: rgb(69, 69, 182);
}

.carrito:hover{
    color: blueviolet;
}


