.titulo{
    text-align: start;
   
    margin: 70px 0px 10px 40px;
    font-size: 20px;
    color: rgb(40, 67, 67);
}

.imagenNavidad{
    align-items: center;
    width: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cargue{
    text-align: center;
    font-size: 30px;
}