.titulo{
    text-align: center;
    margin-top: 50px;
}

.imagenNavidad{
    align-items: center;
    width: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}