.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.img{
    width: 100%;
}

.titulo{
    font-size: 12px;
    margin-top: 7px;
    font-weight: normal;
    margin-bottom: 0px;
}

.parrafo2{
    margin-top: 0px;
    margin-bottom: 3px ;
    font-size: 12px;
    font-weight: bold;
}


.botonDetalle{
    background-color: rgb(95, 85, 135);
    color: #fafafa;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 12px;
}

.botonDetalle:hover {
    background-color: rgb(120, 120, 218);
  }

