.navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 0px;
    text-decoration: none;
}

.navCategoria{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.navCategoria1{
    text-decoration: none;
    color: rgb(7, 11, 15);

}

.logo{
    text-decoration: none;
    color: rgb(9, 12, 15);
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
}

.botonesNav{
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: black;
    background: transparent;
    font-size: 15px;
    cursor: pointer;
}

a{
    text-decoration: none;
  }

  
  
  .botonesNav:hover{
    color: #007bff;
    border-bottom: 1px solid black;
    
  }
  
  /* Añade estas clases a tu archivo NavBar.module.css */

.menuIcon {
    display: none; /* Oculta el icono del menú en tamaños de pantalla grandes */
    cursor: pointer;
  }
  
  .menuOpen {
    display: flex !important; /* Muestra el menú cuando está abierto */
  }
  
  @media screen and (max-width: 768px) {
    .navigation {
      flex-direction: column; /* Cambia la dirección del menú en tamaños pequeños */
    }
  
    .menuIcon {
      display: block; /* Muestra el icono del menú en tamaños de pantalla pequeños */
    }
  
    .navCategoria {
      display: none; /* Oculta el menú principal en tamaños pequeños */
      flex-direction: column;
    }
  
    .menuOpen {
      display: flex !important; /* Muestra el menú cuando está abierto en tamaños pequeños */
    }

    .navegation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px;
        width: 100%;
    }

    .logo{
        border: 2px solid red;
    }

  }
  
