

.navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Cambia al color de fondo deseado */
    z-index: 100;  
}

.menuContainer{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  width: 52%;
  margin: 0px 0px 0px 15px;
}

.navCategoria{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px 0px;
    padding:0px;
}

.logo{
    text-decoration: none;
    color: rgb(9, 12, 15);
    font-size: 30px;
    font-weight: 900;
    margin: 0px 0px 0px 0px;
    padding:0px;
}

.botonesNav{
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: black;
    background: transparent;
    font-size: 15px;
}

a{
    text-decoration: none;
  }  
  
  .botonesNav:hover{
    color: #007bff;
    border-bottom: 1px solid black;
    
  }
  
  /* Añade estas clases a tu archivo NavBar.module.css */

.menuIcon {
    display: none; /* Oculta el icono del menú en tamaños de pantalla grandes */
    cursor: pointer;
    border: 2px solid blue;  
  font-size: 25px;
  }
  
  .menuOpen {
    display: flex !important; /* Muestra el menú cuando está abierto */
  }
  
  @media screen and (max-width: 768px) {
    .navegation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 10px;
    }

    .menuContainer{
      width: 90%;
    }
  
    .menuIcon {
      display: block; /* Muestra el icono del menú en tamaños de pantalla pequeños */
    }
  
    .navCategoria {
      display: none; /* Oculta el menú principal en tamaños pequeños */
      flex-direction: column;
    }
  
    .menuOpen {
      display: flex !important; /* Muestra el menú cuando está abierto en tamaños pequeños */
    }

    .logo{
        font-size: 23px;
        margin-right: 0px;
    }

  }
  
  
