

.categoriasFooter {
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    background-color: #fafafa;
    margin: 40px 0px 0px 0px;
    border-top: 1px #716a6a solid;
    padding: 0px 0px;
    border-top: #b3acac 1px solid;  
  }
  
  .ayudaFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .ayudaFooter p{
    font-size: 12px;
    margin-top: 0;
  }

  .ayudaFooter h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  .ayudaFooter .numeroFooter {
    color: rgb(12, 208, 91);
  }
  .ayudaFooter a {
    text-decoration: none;
  }
  
  .parrafoFooter {
    color: rgb(47, 49, 49);
    font-size: 13px;
    font-family: "Roboto", sans-serif;
  }
  
  .mediosDePago {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  .logoPse {
    font-size: 100px;
    width: 50px;
    height: 50px;
  }
  
  .tarjetas {
    width: 200px;
    height: 100px;
    background-color: red;
  }
  
  .appStore {
    width: 100px;
    margin: 0px 10px 20px 10px;
  }
  
  .contactoWpp {
    font-weight: bold;
  }
  
  /* footer final */

  .dir {
    background-color: #000000;
    color: #fafafa;
    padding: 10px 0px;
    text-align: center;
  }
  .dir p {
    color: #fafafa;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }

  

  /* Ajustes especificos para version mobile */
/* 0 hasta 768px */
@media (max-width: 650px) {

  .categoriasFooter{
      display: flex;
      flex-direction: column;
      border: solid red 2px;
  }
}