.titulo{
    color: rgb(154, 150, 150);
}

.buttons{
    margin-left: 30px;
}

.containerButon{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 50px;    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.separador{
    margin-left: 10px;
}

.carrito{
    background: rgb(170, 12, 12);
    color: rgb(6, 6, 5);
    border: none;
    border-radius: 4px;
    margin: 10px 0px;
    cursor: pointer;
}

.buttonComprar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.btnCesta {
    background-color: rgb(36, 206, 141);
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    padding: 10px 5px;
    color: #fafafa;
    font-size: 20px;
    width: 70%;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
  
.btnCesta:hover {
    background: rgb(25, 89, 41);
}

.btnComprar{
    background-color: rgb(36, 206, 141);
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    padding: 10px 5px;
    color: #fafafa;
    font-size: 20px;
    width: 70%;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.btnComprar:hover {
    background: rgb(27, 106, 37);
}